<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pathable.phonegap" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PathableGC 2015 PhoneGap</name>
    <description>
        Model for Pathable Phonegap apps.
    </description>
    <author email="support@pathable.com" href="https://pathable.com/">
        Pathable
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
